<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form actions="" method="POST">
    {% csrf_token %}
    
    <select name="Aut_id" id=""> 
        {% for i in data %}
        <option value="{{i.id}} ">{{i.name}}</option>
        
        {% endfor %}

    </select>


    <input type="number" id="" name="price" placeholder="Enter ">
    <input type="submit" value="submit">

   
    </form>
</body>
</html>