<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
            <!-- {{data}} -->
            <input type="text" id="" name="name" placeholder="Enter your firstname">
            <input type="number" id="" name="phone" placeholder="Enter your lastname">
            <input type="email" id="" name="email" placeholder="Enter your age">
            
    
            <input type="submit" value="submit">
    
    
        </form>
</body>
</html>