<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>teacher name</th>
            <th>dept name</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.tchr_id.name}}</td>
            <td>{{i.dept_name}}</td>

            <td><a href="/deptdelete/{{i.id}}/">delete</a></td>
            <td><a href="/deptedit/{{i.id}}/">edit</a></td>

            <td></td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>