<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update_log/{{ data.id }}/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" id="" value="{{data.name}}">
        <input type="text" name="course" id="" value="{{data.course}}">
        <input type="number" name="salary" id="" value="{{data.salary}}">
        <input type="submit" value="update">


    </form>
</body>
</html>