<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>authorname</th>
            <th>price</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.Author_id.name}}</td>
            <td>{{i.price}}</td>

            <td><a href="/pricedelete/{{i.id}}/">delete</a></td>
            <td><a href="/priceedit/{{i.id}}/">edit</a></td>

            <td></td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>